h1 { 
font-family: 'Barrio', cursive;
}

p {
font-family: 'Raleway', sans-serif;
}

.small {
  font-size: x-small;
}

.day {
  height: 12vw;
  width: 12vw;
  border: 5px solid deeppink;
  float: left;
  display: inline-block;
  margin: 5px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  color: blue;

}

.day img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.unclicked img {
	display: none;
	width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.clicked img {
	display: inherit;
	width: 100%;
 	height: 100%;
  	position: absolute;
  	z-index: -1;
  	top: 0;
  	right: 0;
}

.container {
  background-color: pink;
}